<div id="note_list"></div>
{{> note/note-list-block}}
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <textarea id="Note" name="Note" class="materialize-textarea"></textarea>
                <label for="Note">New note</label>
                <span class="error-msg" data-error="wrong" data-success="right"></span>
                <hidden id="article_id"></hidden>
            </div>
        </div>
        <a class="waves-effect waves-light btn" id="btn_save_note">SAVE NOTE</a>
    </form>
</div>