body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 16px;
    background-image: url("../images/dark_brick_wall.png");
  }
  
  main {
    flex: 1 0 auto;
  }

  nav{
    background-color: #4D97F3;
}
  
  .list-group-item {
    line-height: 2.5;
  }
  
  a.brand-logo {
    text-decoration: none;
    padding-left: 10px;
  }
  
  .modal {
    max-height: 80%;
  }
  
  .body-container {
    color: black;
    background-color: ghostwhite;
    padding: 15px;
  }
  
  p.parabody {
    margin-top: -20px;
    margin-bottom: -20px;
    white-space: pre-line;
  }
  
  .error {
    font-size: 1.3rem;
    margin-right: 25px;
  }
  
  .error-msg{
    color:red;
  }
  
  .story-row {
    margin-bottom: 0;
  }
  
  .story-divider {
    margin-top: 50px;
  }

  .page-footer {
    font-size: 1.2rem;
    background-color: #4D97F3;
  }

  /* loader div css */
  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 3;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .overlay {
    background: #e9e9e9;  
    display: none;        
    position: absolute;   
    top: 0;                  
    right: 0;                
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 1;
  }

  .article_container{
    position: relative;
    z-index: 0;
  }
  /* end of loading css */
  
  @media (max-width: 640px){
  
    body {
      font-size: 1.3rem;
    }
  
    li {
      font-size: 1.3rem;
    }
  
    .brand-logo {
      width: 80%;
      margin: 0 auto;
    }
  
    #smalltext {
      font-size: 1.5rem;  
      padding: 0px;
    }
  
    .modal {
      width: 100%;
      max-height: 80%;
    }
  
    .body-container {
      width: 100%;
    }
  
    .mobile-center {
      text-align: center;
    }
  
    .mobile-buttons {
      text-align: center;
      margin-bottom: 10px;
      font-size: 1.3rem;
    }
  
    .mobile-header {
      font-size: 1.5rem;
    }

  };